<h1>Create Ticket</h1>
<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label>Producto:</label>
        <input type="text" name="producto" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Importe:</label>
        <input type="text" name="importe" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Fecha:</label>
        <input type="date" name="fecha" class="form-control"/>
    </div>
    <div class="mb-3">
        <label>Fichero:</label>
        <input type="file" name="file" class="form-control" />
    </div>
    <button class="btn btn-primary">Create ticket</button>
</form>
